_____________________________DateBase______________________________
postgres_server="____________"
postgres_port = ___________
postgres_user ="__________"
postgres_password="_________"
postgres_db ="________"

__________________________jwt___________________________
JWT_secret="_______________________"
JWT_algorithm="____________"


_________________________redis______________________________

REDIS_HOST=_________________
REDIS_PORT=_______________

________________________openrouter (AI agent)_________________
OPENROUTER_API_KEY= __________________________________
OPENROUTER_MODEL=poolside/laguna-s-2.1:free
